body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'Akronim';
    src: local('Akronim'), url(./fonts/Akronim-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Ultra';
    src: local('Ultra'), url(./fonts/Ultra-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Audiowide', cursive;
    src: local('Audiowide'), url(./fonts/Audiowide-Regular.ttf) format('ttf');
}

.banner {
  font-family: 'Audiowide';
  
}
